<figure class="image_container{{ floatClass|default('') }}{{ picture.img.class|default() ? ((' figure-') ~ (picture.img.class|trim|split(' ')|join(' figure-'))) : '' }}"{% if margin|default() %} style="{{ margin }}"{% endif %} {% if figureAttributes|default() %} {{ figureAttributes|default()|raw }}{% endif %}itemscope itemtype="http://schema.org/ImageObject"
        itemprop="associatedMedia">

    {% if href|default() %}
        <a href="{{ href }}"{% if linkTitle|default() %} title="{{ linkTitle }}"{% endif %}{% if target|default() %} target="_blank"{% endif %} {{ attributes|default()|raw }} {{ linkAttributes|default()|raw }} itemprop="contentUrl">
    {% endif %}

    {{ include('@HeimrichHannotContaoUtils/picture.html.twig', picture) }}

    {% if href|default() %}
        </a>
    {% endif %}

    {% set hasCopyright = picture.copyright|default and picture.copyright != 'a:1:{i:0;s:0:"";}' and picture.copyright != 'a:0:{}' %}

    {% if caption|default() %}
        <figcaption class="caption" itemprop="caption">{{ caption }}{% if hasCopyright %} (© {{ picture.copyright|deserialize(true)|join(', ')|raw|replace({'©': ''}) }}){% endif %}</figcaption>
    {% elseif (hasCopyright and includeCopyright) %}
        <figcaption class="caption" itemprop="caption">© {{ picture.copyright|deserialize(true)|join(', ')|raw|replace({'©': ''}) }}</figcaption>
    {% endif %}
</figure>
