<figure class="image_container{{ floatClass|default('') }}{{ picture.img.class|default() ? ((' figure-') ~ (picture.img.class|trim|split(' ')|join(' figure-'))) : '' }}"{% if margin|default() %} style="{{ margin }}"{% endif %} {% if figureAttributes|default() %} {{ figureAttributes|default()|raw }}{% endif %}itemscope itemtype="http://schema.org/ImageObject"
        itemprop="associatedMedia">

    {% if href|default() %}
        <a href="{{ href }}"{% if linkTitle|default() %} title="{{ linkTitle }}"{% endif %}{% if target|default() %} target="_blank"{% endif %} {{ linkAttributes|default()|raw }} itemprop="contentUrl">
    {% endif %}

    {{ include('@HeimrichHannotContaoUtils/picture.html.twig', picture) }}


    {% if href|default() %}
        </a>
    {% endif %}

    {% if caption|default() %}
        <figcaption class="caption" itemprop="caption">{{ caption }}{% if picture.copyright|default %} (© {{ picture.copyright|deserialize(true)|join(', ')|raw|replace({'©': ''}) }}){% endif %}</figcaption>
    {% endif %}

</figure>

