<figure class="image_container{{ floatClass|default('') }}{{ picture.img.class|default() ? ((' figure-') ~ (picture.img.class|trim|split(' ')|join(' figure-'))) : '' }}"{% if margin|default() %} style="{{ margin }}"{% endif %} {% if figureAttributes|default() %} {{ figureAttributes|default()|raw }}{% endif %}itemscope itemtype="http://schema.org/ImageObject"
        itemprop="associatedMedia">

    {% if href|default() %}
        <a href="{{ href }}"{% if linkTitle|default() %} title="{{ linkTitle }}"{% endif %}{% if target|default() %} target="_blank"{% endif %} {{ attributes|default()|raw }} {{ linkAttributes|default()|raw }} itemprop="contentUrl">
    {% endif %}

    {{ include('@HeimrichHannotContaoUtils/picture.html.twig', picture) }}

    {% if href|default() %}
        </a>
    {% endif %}

    {% set captionData = [] %}

    {% if caption|default() %}
        {% set captionData = captionData|merge([caption]) %}
    {% endif %}

    {% if picture.copyright|default and picture.copyright|default != 'a:0:{}' and picture.copyright|default != 'a:1:{i:0;s:0:"";}' %}
        {% set captionData = captionData|merge(['© ' ~ picture.copyright|deserialize(true)|join(', ')|raw|replace({'©': ''})]) %}
    {% endif %}

    {% if captionData is not empty %}
        <figcaption class="caption" itemprop="caption">
            {{ captionData|join(', ') }}
        </figcaption>
    {% endif %}

</figure>

