<div class="download-element ext-{{ extension }}"{% if attributes|default() %} {{ attributes }}{% endif %}>
    <a href="{{ href  }}" title="{{ title  }}"{% if target|default() %} target="_blank"{% endif %}>{{ link|raw }} <span class="size">({{ filesize }})</span></a>
</div>
