<div class="video-player">

<video{{ size|default|raw }}{% if poster|default and not posterImg %} poster="{{ poster }}"{% endif %}
        {% if preload|default %}preload{% else %}preload="none"{% endif %}
        {% if autoplay|default() %} autoplay{% endif %}
        {% if loop|default() %} loop{% endif %}
        {% if controls|default() %} controls{% endif %}
        {% if playsinline|default() %} playsinline{% endif %}
        {% if muted|default() %} muted{% endif %}>
    {% for file in files %}
        <source type="{{ attribute(file, '__get', ['mime']) }}" src="{{ attribute(file, '__get', ['path']) }}" title="{{ attribute(file, '__get', ['title']) }}">
    {% endfor %}
</video>

{% if posterImg|default %}
    <div class="poster">
        {{ include('@HeimrichHannotContaoUtils/image.html.twig', posterImg) }}

        <div class="play-button"></div>
    </div>
{% endif %}

</div>